<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
       <!-- Кнопка для создания курса -->
       <a href="{% url 'materials:course_create' %}" class="btn btn-primary">Создать курс</a>

    <h2>Мои созданные курсы</h2>
    <ul>
        {% for course in created_courses %}
            <li><a href="{% url 'materials:course_detail' course.id %}">{{ course.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Все курсы</h2>
    <ul>
        {% for course in courses %}
            <li><a href="{% url 'materials:course_detail' course.id %}">{{ course.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
