<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя страница</title>
    <style>
        /* Простой CSS для стилизации кнопок */
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            border: 1px solid #333;
            background-color: #f0f0f0;
            color: #333;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <div>
        <a href="/user/login/" class="button">Вход</a>
        <a href="/user/create/" class="button">Регистрация</a>
        
    </div>
</body>
</html>